<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Query the Canadian Amateur Radio Callsign Database">
    <meta name="author" content="Thomas Cort <linuxgeek@gmail.com>">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" href="favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Callsigns</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/callsigns.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-callsign" method="get" action="/">
        <label for="inputCriterion" class="sr-only">Search Criterion</label>
        <input name="criterion" type="text" id="inputCriterion" class="form-control" placeholder="" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
      </form>

    <div id="result">
      {{#if err}}
        <hr/>
        <div class="alert alert-{{err.type}}" role="alert">
          {{err.message}}
        </div>
      {{/if}}
      {{#if result}}
        <hr/>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{result.callsign}}</h3>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Mailing Address</h3>
          </div>
          <div class="panel-body">
            <p>
              {{result.first_name}} {{result.surname}}<br/>
              {{result.address_line}}<br/>
              {{#if result.city}}{{result.city}},{{/if}} {{result.prov_cd}} {{result.postal_code}}
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Qualifications</h3>
          </div>
          <div class="panel-body">
            <ul>
              {{#if result.qual_a}}
                <li>Basic</li>
              {{/if}}
              {{#if result.qual_e}}
                <li>Basic with Honours</li>
              {{/if}}
              {{#if result.qual_d}}
                <li>Advanced</li>
              {{/if}}
              {{#if result.qual_b}}
                <li>Morse Code (5 WPM)</li>
              {{/if}}
              {{#if result.qual_c}}
                <li>Morse Code (12 WPM)</li>
              {{/if}}
            </ul>
          </div>
        </div>
        {{#if result.club_prov_cd}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Club Address</h3>
            </div>
            <div class="panel-body">
              <p>
                {{result.club_name}}<br/>
                {{#if result.club_name_2}}{{result.club_name_2}}<br/>{{/if}}
                {{result.club_address}}<br/>
                {{#if result.club_city}}{{result.club_city}},{{/if}} {{result.club_prov_cd}} {{result.club_postal_code}}
              </p>
            </div>
          </div>
        {{/if}}
      {{/if}}
      {{#if resultSet}}
        <hr/>
        <div class="list-group">
          {{#each resultSet as |r|}}
             <a href="/callsigns/{{r.callsign}}" class="list-group-item">{{r.callsign}} - {{#if r.club_prov_cd}}{{r.club_name}} {{r.club_name_2}} -{{/if}} {{r.first_name}} {{r.surname}}</a>
          {{/each}}
          <div class="text-center">
            <nav>
              <ul class="pagination">
                {{#paginate pagination type="first"}}
                  <li {{#if disabled}}class="disabled"{{/if}}><a href="/?page={{n}}&criterion={{../criterion}}">First</a></li>
                {{/paginate}}
                {{#paginate pagination type="previous"}}
                  <li {{#if disabled}}class="disabled"{{/if}}><a href="/?page={{n}}&criterion={{../criterion}}">Prev</a></li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="7"}}
                  <li {{#if active}}class="active"{{/if}}><a href="/?page={{n}}&criterion={{../criterion}}">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                  <li {{#if disabled}}class="disabled"{{/if}}><a href="/?page={{n}}&criterion={{../criterion}}">Next</a></li>
                {{/paginate}}
                {{#paginate pagination type="last"}}
                  <li {{#if disabled}}class="disabled"{{/if}}><a href="/?page={{n}}&criterion={{../criterion}}">Last</a></li>
                {{/paginate}}
              </ul>
            </nav>
          </div>
        </div>
      {{/if}}
    </div>

    <hr/>

    <div id="footer">
      This is a personal website; it is not affiliated with any organization.
      The official callsign search site by Industry Canada is available at <a href="http://apc-cap.ic.gc.ca/pls/apc_anon/query_amat_cs$.startup">http://apc-cap.ic.gc.ca/pls/apc_anon/query_amat_cs$.startup</a>.
      This website contains a non-commercial reproduction of the Amateur Call Sign List.
      The complete title of the material reproduced is 'Amateur Call Sign List (delimited TXT format)' by Industry Canada.
      The reproduction is a copy of the version available at <a href="http://apc-cap.ic.gc.ca/datafiles/amateur_delim.zip">http://apc-cap.ic.gc.ca/datafiles/amateur_delim.zip</a>.
      {{#if last_update}}That file was retrieved at or around {{last_update}}.{{/if}}
      For complete Terms and Conditions, see <a href="http://www.ic.gc.ca/eic/site/icgc.nsf/eng/h_07033.html">http://www.ic.gc.ca/eic/site/icgc.nsf/eng/h_07033.html</a>.
      Questions or comments should be directed to <a href="mailto:linuxgeek@gmail.com">linuxgeek@gmail.com</a>.
    </div>

  </div> <!-- /container -->

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
