<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{__ "Amateur Search"}}">
    <meta name="author" content="Thomas Cort <linuxgeek@gmail.com>">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <meta name="referrer" content="always">
    <meta name="generator" content="{{pkg.name}} {{pkg.version}}" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>{{__ "Callsigns"}}{{#if result}} - {{result.callsign}}{{/if}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/callsigns.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <form class="form-callsign" method="get" action="/search">
            <div class="form-group">
              <div class="input-group">
                <label for="inputq" class="sr-only">{{__ "Search Criteria"}}</label>
                <input name="q" type="text" id="inputq" class="form-control" placeholder="" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">{{__ "Search"}}</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>

      {{#if err}}
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-{{err.type}}" role="alert">
              <span id="err-message">{{err.message}}</span>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if result}}
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><span id="callsign">{{result.callsign}}</span></h3>
              </div>
              <div class="panel-body">
                <h4>{{__ "Details"}}</h4>
                <p>
                  <span id="first_name">{{result.first_name}}</span> <span id="surname">{{result.surname}}</span><br/>
                  {{#if result.address_line}}<span id="address_line">{{result.address_line}}</span><br/>{{/if}}
                  {{#if result.city}}<span id="city">{{result.city}}</span>,{{/if}} <span id="prov_cd">{{result.prov_cd}}</span> <span id="postal_code">{{result.postal_code}}</span>
                </p>
                <h4>{{__ "Qualifications"}}</h4>
                <ul>
                  {{#if result.qual_a}}
                    <li><span id="qual_a">{{__ "Basic"}}</span></li>
                  {{/if}}
                  {{#if result.qual_e}}
                    <li><span id="qual_e">{{__ "Basic with Honours"}}</span></li>
                  {{/if}}
                  {{#if result.qual_d}}
                    <li><span id="qual_d">{{__ "Advanced"}}</span></li>
                  {{/if}}
                  {{#if result.qual_b}}
                    <li><span id="qual_b">{{__ "Morse Code (5 WPM)"}}</span></li>
                  {{/if}}
                  {{#if result.qual_c}}
                    <li><span id="qual_c">{{__ "Morse Code (12 WPM)"}}</span></li>
                  {{/if}}
                </ul>
               {{#if result.club_prov_cd}}
                 <h4>{{__ "Club Details"}}</h4>
                  <p>
                    <span id="club_name">{{result.club_name}}</span><br/>
                    {{#if result.club_name_2}}<span id="club_name_2">{{result.club_name_2}}</span><br/>{{/if}}
                    {{#if result.club_address}}<span id="club_address">{{result.club_address}}</span><br/>{{/if}}
                    {{#if result.club_city}}<span id="club_city">{{result.club_city}}</span>,{{/if}} <span id="club_prov_cd">{{result.club_prov_cd}}</span> <span id="club_postal_code">{{result.club_postal_code}}</span>
                  </p>
               {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if resultSet}}
        <div class="row">
          <div class="col-lg-12">
            <div class="list-group">
              {{#each resultSet as |r|}}
                 <a href="/callsigns/{{r.callsign}}" class="list-group-item">{{r.callsign}} - {{#if r.club_prov_cd}}{{r.club_name}} {{r.club_name_2}} -{{/if}} {{r.first_name}} {{r.surname}}</a>
              {{/each}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <nav>
                <ul class="pagination">
                  {{#paginate pagination type="previous"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="/search?page={{n}}&amp;q={{../q}}">&laquo;</a></li>
                  {{/paginate}}
                  {{#paginate pagination type="middle" limit="7"}}
                    <li {{#if active}}class="active"{{/if}}><a href="/search?page={{n}}&amp;q={{../q}}">{{n}}</a></li>
                  {{/paginate}}
                  {{#paginate pagination type="next"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="/search?page={{n}}&amp;q={{../q}}">&raquo;</a></li>
                  {{/paginate}}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      {{/if}}

      <div class="row">
        <div class="col-lg-12 small">
          <div class="bs-component">
            <div class="well">
              {{__ "The complete title of the materials reproduced is 'Amateur Call Sign List (delimited TXT format)' by Industry Canada."}}
              {{__ "The reproduction is a copy of the version available at:"}} <a href="{{__ "http://apc-cap.ic.gc.ca/datafiles/amateur_delim.zip"}}">{{__ "http://apc-cap.ic.gc.ca/datafiles/amateur_delim.zip"}}</a>.
              (<a href="{{__ "http://www.ic.gc.ca/eic/site/icgc.nsf/eng/h_07033.html"}}">{{__ "Terms and Conditions"}}</a>).
              {{__ "Contact me by email:"}} <a href="mailto:linuxgeek@gmail.com">linuxgeek@gmail.com</a>.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="btn-group" role="group" aria-label="...">
            <a id="en" class="btn {{#if en}}btn-primary{{^}}btn-default{{/if}}" role="button" href="/lang/en">{{__ "English"}}</a>
            <a id="fr" class="btn {{#if fr}}btn-primary{{^}}btn-default{{/if}}" role="button" href="/lang/fr">{{__ "Français"}}</a>
          </div>
        </div>
      </div>

    </div> <!-- /container -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Request ID: {{request_id}} -->

  </body>
</html>
